body{
    
    margin:0;
    font-family:sans-serif;

}

/* NavBar */

.navbar-nav{
    margin-left: 5rem;
}
.nav-item{
    margin: 0 1.5rem;
}
.nav-link{
    font-weight: bold;
}
.search-bar{
    margin-left: 4rem;
}
.search{
    width: 320px;
    border-radius: 0.1;
    padding: 10px;
}
.nav-icons{
    margin: 0 1rem;
    font-size: 1.5rem;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
}
.icon {
    padding: 10px;
    margin-left: 280px;
}


.road-price-section{
    position:relative;
    top:500px;
}

/* road price section  */
.road-price-box{
    background-color: rgba(0, 0, 0, 0.5);
    
    height: 160px;
    width: 402px;
    position: relative;
    bottom: 295px;
    left: 780px;
}

.road-price-box>h3{
    color: white;
    margin-left: 28px;
    text-align: left;
    position: relative;
    top: 20px;
    font-size: 21px;

}

.road-price-box>input{
    height: 44px;
    width: 357px;
    margin: auto;
    display: block;
    position: relative;
    top: 18px;
    border-radius: 5px;
    padding-top: 0;
    padding-left: 35px;

    border: 1px solid #0a99e6;
}

::placeholder{
    color:rgb(125, 125, 125);
    opacity:.8;
}

.search-icon{
    position: relative;
    font-size: 20px;
    left: 34px;
    bottom: 15px;
    color: #a3a2a2;
}

.road-price-box>p{
    color: white;
    margin-left: 1.99vw;
    font-size: 13px;
    margin-top: 0.5vw;
}




/**** car comparison   *****/


.compare-cars-heading{
    color:#484848;
    font-size:1.2rem;
    font-weight:700;
}



.compare-cars-container{
    position: relative;
    top: 381px;
    left: 220px;


}

.card-containers{
    width:1024px;
    height:281px;
    margin-top:25px;
}



.card-compare-cars{
    width: 320px;
    height: 240px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px rgb(194, 194, 194) solid;
    border-radius: 4px;
    float:left;
    margin-right:12px;
    cursor:pointer;
}




.card-left-section{
    height:210px;
    width:158px;
    padding-left:5px;

}


.card-right-section{
    height: 210px;
    width: 158px;
    float: right;
    position: relative;
    bottom: 209px;
    padding-left:5px;
}

.compare-car-img{
    height:89px;
    width:158px;
}


/* compare car text section  */

.compare-car-info{
    height:210px;
    width:158px;
    margin-left:10px;
}

.compare-car-brand{
    font-size: 11px;
    color: gray;
}

.compare-car-name{
    color: #484848;
    font-weight: bold;
    font-size: 13px;
    margin: 4px 0 5px 0; 
}

.compare-car-price{
    color: #484848;
    font-weight: bold;
    font-size: 13px;
    margin:0 0 5px 0;

}
.compare-car-onwards{
    
    font-size: 13px;
    color: gray;
}

.card-compare-cars>button{
    
    width:284px;
    height:33px;
    position:relative;
    border-color:#0288d1;
    color:#0288d1;
    background-color:#fff;
    cursor:pointer;
    font-weight:bold;
    bottom: 228px;
    left: 10px;
}

.more-comparison-txt{

    color:#0288d1;
    font-weight:bold;
    cursor:pointer;
}

.more-comparison-txt span{

    font-size:20px;
    font-weight:bold;
}


    /******* used cars   *******/

.used-cars-container{

    height: 391px;
    width: 992px;
    position: relative;
    margin: auto;
    top: 444px;
}

.used-cars-container h2{
    font-size: 20px;
    font-weight: 600;
    color: #484848;
}

.used-car-sub-container{
    width:1015px;
    height:291px;
    margin-top:10px;
}

.card-used-car{
    height:271px;
    width:320px;
    background-color:white;
    border:1px solid #e1e1e1;
    border-radius:4px;
    float:left;
    margin-right:15px;
    cursor:pointer;
}



.card-used-car img{
    height:179px;
    width:318px;

}

.used-car-info{
    height:90px;
    width:318px;
    padding-left:10px;
    color:#484848;
    margin-top: 8px;
    margin-bottom: 0.5rem;
}

.used-car-name{
    margin-bottom:0;
    font-size:16px;
    font-weight: 600;
    opacity: 0.7;

}
.used-car-price{
    font-weight:600;
    margin-top:5px;
    opacity: 0.9;
    color:#484848;
}

.used-car-price span{
    color:#aaa;
    font-size:12px;
}


    /* Car Latest Updates  */

.car-update-container{

    height:543px;
    width:992px;
    position: relative;
    margin: auto;
    top: 500px;

}

.car-update-container h2{
    font-size: 20px;
    font-weight: 600;
    color: #484848;
}


/* car update options  */

.car-update-options{
    width:992px;
    height:48px;
    text-transform:uppercase;
    margin-top:25px;
}

.car-update-options div{
    float:left;
    margin-right:15px;
    cursor:pointer;
    letter-spacing: .5px;
    font-size: 12px;
    font-weight: 600;
    height:44px;
    margin-right:20px;
    color:#484848;
}

.car-update-options div:hover{

    color:#0a99e6;
    border-bottom:5px solid #0a99e6;
}


 /* latest car section  */

 .latest-update-container{
    height:362px;
    width:1004px;
    
 }

 .latest-car-cards{
    width:992px;
    height:362px;
 }

 .latest-car-cards img{

    width:318px;
    height:179px;

 }

 .latest-car-cards h3{
    width:318px;
    height:46px;
    font-size:16px;
    line-height:1.51;
    background-color:aliceblue;
 }